.App-header {
    background-color: rgba(20, 0, 70, 0.8);
    color: white;
    border-width: 5px;
    border-color: black;
    padding: 20px;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.8);
}

.wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../src/images/nyt_background.jpg);
    padding-bottom: 30px;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
}

/* Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px) {
    h3 {
        font-size: 1.5rem;
    }
}

/* Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
    h3 {
        font-size: 1.2rem;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.9rem;
    }
}

/* Tiny devices */
@media screen and (max-width: 420px) {}