.App-header {
    background-color: rgba(20, 0, 70, 0.8);
    color: white;
    border-width: 5px;
    border-color: black;
    padding: 20px;
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.8);
}

.wrapper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../src/images/nyt_background.jpg);
    padding-bottom: 30px;
}